# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Logs
*.log

# Playwright browsers
playwright/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# output files
mpb_products/output/